<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
        <title>Name</title>
        
    </head>
    <body>
    <p>My name is {{name}}</p>
   <p> My name is {{name | upper | lower}}</p>
    
    {% if today_is_weekend %}
    <p>Welcome to the weekend!</p>
    {% else %}
    <p>Get back to work!!!!</p>
    {% endif %}

    {#This is a for e.g.#}
    {% for athlete in athlete_list %}
    
    <li>{{athlete}}</li>
    {%empty%}
    <p>There is no athlete</p>
    {%endfor%}



    </body>
</html>
